<div class="form-main" id="<%= dom_id formulario %>">
  <div class="form-main-div">
    <strong>Nome:</strong>
    <strong>Email comercial:</strong>
    <strong>Telefone fixo:</strong>
    <strong>Celular:</strong>
    <strong>Icone da empresa:</strong>
    <strong>Empresa:</strong>
  </div>


<div class="form-main-div">
  <span><%= formulario.name %></span>  
  <span><%= formulario.email %></span>
  <span><%= formulario.phone %></span>
  <span><%= formulario.cell %></span>
  <span class="form-image">
    <% if formulario.icon.present? %>
        <%= image_tag(formulario.icon.url) %>
    <%end%>
  </span>
  <span> <%= formulario.company %></span>   
  </div>
</div>
 
