<div id="<%= dom_id formulario %>">
  <p>
    <strong>Nome:</strong>
    <%= formulario.name %>
  </p>

  <p>
    <strong>Email comercial:</strong>
    <%= formulario.email %>
  </p>

  <p>
    <strong>Telefone fixo:</strong>
    <%= formulario.phone %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= formulario.cell %>
  </p>

  <p>
    <strong>Icone da empresa:</strong>
    <%= formulario.icon %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= formulario.company %>
  </p>

</div>
