<p style="color: green"><%= notice %></p>

<div class="bar bar-header bar-calm ">
  <h1 class="title">Contatos</h1>
</div>

<table class="table table-bordered">
  <tr>
      <th scope="col">Nome</th>
      <th scope="col">Telefone fixo</th>
      <th scope="col">E-mail</th>
      <th scope="col">Mostrar</th>
    </tr>
  </thead>
  <tbody>
  <% @formularios.each do |formulario| %>
    <tr>
       <td><%=  formulario.name%></td>
       <td><%=  formulario.phone%></td>
       <td><%=  formulario.email%></td>
        <td> <%= link_to "Mostrar contato", formulario %>
</td>
  <% end %>
  </tbody>
    </tr>
</table>

   <%= paginate @formularios %>
