<p style="color: green"><%= notice %></p>

<div class="bar bar-header bar-calm ">
  <h1>Contatos</h1>
</div>

<table class="table table-bordered">
  <tr>
      <th scope="col">Nome</th>
      <th scope="col">Telefone fixo</th>
      <th scope="col">E-mail</th>
      <th scope="col">Empresa</th>
      <th scope="col">Mostrar</th>
    </tr>
  </thead>
  <tbody>
  <% @formularios.each do |f| %>
    <tr>
       <td><%=  f.name%></td>
       <td><%=  f.phone%></td>
       <td><%=  f.email%></td>
       <td><%=  f.company%></td>
       <td><button type="button" class="btn btn-secondary"><%=  link_to("Mostrar contato", formularios_show_path(f.id, f)) %></button></td>
  <% end %>
  </tbody>
    </tr>
</table>
<div class="pagination">
   <%= paginate @formularios %>
 </div>
</div>