<p style="color: green"><%= notice %></p>

<h1>Contatos</h1>
 
<div id="formularios">
  <% @formularios.each do |formulario| %>
    <%= render formulario %>
    <p>
      <%= link_to "Mostrar contato", formulario %>
    </p>
  <% end %>
</div>
<div class="row">
</div>
<button type="button"> <%= link_to "Novo contato", new_formulario_path %></button>
  <%= paginate @formularios %>
