

<%# <%= render @form %> 
 
<div id="carouselExampleControls" class="carousel slide text-center carousel-dark" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="rounded-circle shadow-1-strong mb-4"
          <% if @form.icon.present? %>
              <%= image_tag(@form.icon.url) %>
          <%end%>
      
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
              <h5 class="mb-3">
              <strong> <p> <%=  @form.name%> </h5> </p> </strong>
              <p> <%=  @form.email%><p>
              <p><%=  @form.phone%></p>
              <p> <%=  @form.cell%> </p>  
              <p><%=  @form.company%></p>
           </div>
         </div>
      </div>
   </div>
</div>
      
     
   <div class="btn">
  <%# Volta a todos os formulários %>
  <button type="button" class="btn btn-primary"> <%= link_to "Voltar", formularios_path %></button>
  </div>

 